html {
    box-sizing: border-box;
  }

  *,*:before, *:after{
    box-sizing:inherit;
  }

main{
    margin:auto;
    padding:20px;
    background-color:navy;
    color:aliceblue;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:auto;
    grid-gap:10px;
    padding:10px;
}

header.primary{
  text-align:center;
  border-bottom:10px dashed aliceblue;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

header h4{
  font-size:1.2em;
}

#content{
  padding:10px;
}

section ul li a{
  color:aliceblue;
}


#colophon{
  text-align:center;
  grid-column: -5 / -1;
}