html {
    box-sizing: border-box;
  }

  *,*:before, *:after{
    box-sizing:inherit;
  }

main{
    margin:auto;
    padding:20px;
    background-color:navy;
    color:aliceblue;
    padding:10px;
    font-family:'Sour Gummy', serif;
    font-optical-sizing: auto;
}

header.primary{
  text-align:center;
  border-bottom:10px dashed aliceblue;
}

header h4{
  font-size:1.2em;
}

#content{
  padding:10px;
}

section ul li a{
  color:aliceblue;
}

div{
  background-color: var(--box-color);
}

div ul{
  --box-color: aquamarine;
}

#colophon{
  text-align:center;
  padding:20px;
}

/* Media Queries */
@media print{
  body{
    font-size:12px;
  }
}