/* The first rule in a stylesheet is a universal selecter and rules out spacing and margining */

* {
  margin: 0px;
  padding: 0px;
}
body {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #171717;
  font-size: 16px;
  line-height: 1.5em;
  background-color: #171717;
  background-image: url("../img/bg-tile.jpg"); /*How to reference an image in your file tree*/
  background-repeat:repeat-x;
}
#container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #ccc;
}

#content h2{
  color:cornflowerblue;
  border-bottom:1px dashed #f2f2f2;
}

#content h3{
  color:cornflowerblue;
  border-bottom:1px dashed #f2f2f2;
}

#header{
	background-image:url("../img/assessment-4.png");
	padding:20px;
}

#header h1 a {
	text-decoration:none;
	color:#f2f2f2;
}

#header h1 a:hover{
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #f2f2f2;
}

#nav {
  background-color: #000;
}
#nav ul {
  list-style-type: none;
  margin-left: 10px;
}
#nav ul li {
  display: inline;
  height: 35px;
  line-height: 35px;
}
#nav ul li a {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
}
#nav ul li a:link,
#nav ul li a:visited {
  text-decoration: none;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  color: #fff;
}
#nav ul li a:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
}
#content {
  margin: 20px;
  background-color:rgb(206, 206, 206);
}

#content p {
  margin-top: 5px;
  margin-bottom: 15px;
  overflow:hidden;
}

#content p strong{
	background-color:darkorange;
}

#content p a{
	color:brown;
	text-decoration:none;
	background-color:black;
	background-color:rgba(0,0,0,0);
}

#content p a:hover{
	background-color:rgba(0,0,0,0.8);
	color:#f2f2f2;
}

#footer {
  background-color: #000;
  color: #fff;
  height: 25px;
}
#footer h6 {
  font-size: 12px;
  line-height: 25px;
  margin-right: 20px;
  margin-left: 20px;
}

#footer h6 a {
  text-decoration:none;
  color:#f2f2f2;
}

#footer h6 a:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
}

.alert{
  background-color:red;
  padding:5px;
}

#content img{
  float:right;
  border:5px black;
  margin:auto;
}