/* HTML SIZING */
html{
    box-sizing:border-box;
}

*, *:before, *:after{
    box-sizing:inherit;
}

img{
    max-width:100%;
    height:auto;
  }

body{
  margin:auto;
}

/* HEADER */
header.primary{
    padding-top:20px;
    text-align:center;
    width:100%;
    min-height:40vh;
    background-color:rgb(255, 195, 225);
    border-bottom: 4px dashed crimson;
}

header.primary h1, header.primary h3{
    color:aliceblue;
}

header.primary nav ul{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin:0;
    padding:0;
}

header.primary nav ul li{
    list-style-type:none;
    padding-top:15px;
    padding-bottom:15px;
}

header.primary nav ul li a{
    border-radius:15px;
    background-color:crimson;
    color:aliceblue;
    display:block;
    padding: 15px 15px 15px 15px;
    text-align:center;
    text-decoration:none;
    transition:0.3s;
    font-size:0.9rem;
}

header.primary nav ul li a:hover{
    border:3px solid aliceblue;
    background-color:aliceblue;
    color:crimson;
}

header.primary nav ul li a.active{
    background-color:aliceblue;
    border:3px solid aliceblue;
    color:crimson;
  }  

/* CONTENT */

section.primary h3{
    padding-top:20px;
    text-align:center;
    color:crimson;
}

section.primary img{
    padding-top:20px;
}

section.primary p{
    text-align:left;
}

section.secondary h3{
    padding-top:30px;
    color:crimson;
}

section.secondary p{
    text-align:left;
}

section.secondary img{
    padding-top:30px;
    padding-bottom:30px;
}

/* FOOTER */
#colophon{
    background-color:rgb(255, 195, 225);
    color:aliceblue;
    width:100%;
    padding:20px;
    text-align:center;
    border-top: 4px dashed crimson;
}

#colophon p{
    font-size:0.7rem;
}
/* UTILITY CLASSES */

/* MEDIA QUERIES */