html {
    box-sizing: border-box;
  }

  *,*:before, *:after{
    box-sizing:inherit;
  }

main{
    max-width:960px;
    display:grid;
    border:1px solid #000;
    margin:auto;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:auto;
    grid-gap:20px;
    padding:20px;
}

#content{
  display:grid;
  grid-template-columns:subgrid;
  grid-template-rows:subgrid;
  background-color:azure;
  grid-column: 1 / 5;
  grid-row: 2 / 3;
}

#primary{
grid-column: 1 / 4;
}

  header.primary{
    color:aliceblue;
    background-color:red;
    padding:5px;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }

  header.primary ul li a{
    text-decoration:none;
    color:aliceblue;
  }

  article.post{
    color:aliceblue;
    background-color:blue;
    padding:5px;
  }

article.post a{
  color:aliceblue;
}

article.widget-1{
  color:aliceblue;
  background-color:blueviolet;
  padding:5px;
}

#colophon{
  color:aliceblue;
  background-color:crimson;
  grid-column: -5 / 5;
  text-align: center;
}

#colophon a{
  text-decoration:none;
  color:aliceblue;
}
